body {
    margin: 0;
    font-family: "Roboto", sans-serif;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: #004851;
}

.header {
    flex: 0;
    display: flex;
    align-items: center;
    background-color: #f0f0f0;
    /* #004851 scout green*/
    padding: 0.75rem;
}

.header-img {
    padding-right: 2rem;
    width: 90px;
}

.header-text {
    display: flex;
    flex-direction: column;
}

.header-title {
    font-size: 2rem;
    font-weight: bold;
}

.header-subtitle {
    font-size: 0.9rem;
}

.main {
    flex: 1;
    margin: auto;
}

.banner {
    margin: 2.5rem;
    background-color: #f0f0f0;
    border-radius: 25px;
    text-align: center;
    color: #7414dc;
    font-family: 'Indie Flower', cursive;
    font-size: 5rem;
    font-weight: bold;
    transition: ease 1s;
}
.banner-img{
    width: 75%;
    border-radius: 25px;
}

.column-wrapper {
    display: flex;
}

.column {
    flex: 1;
    padding-top: 0.5rem;
    padding-right: 2rem;
    padding-bottom: 2rem;
    padding-left: 2rem;
    margin: 2rem;
    background-color: #f0f0f0;
    border-radius: 25px;
}

.details {
    font-weight: bold;
    font-size: 1rem;
}

.footer {
    flex: 0;
    background-color: #f0f0f0;
    padding: 1em;
}

.footer-text {
    color: grey;
    margin-left: auto;
    font-size: 0.75em;
}